<!DOCTYPE html>
{% extends "notes/base.html" %}
{% load static %}

{% block block_title %}
SIGN UP
{% endblock block_title %}

{% block block_body %}
    <div class="center-column">
        <form action="/signup/" method="post">
            {% csrf_token %}
            {% for field in  form.visible_fields %}
                {% if field.errors %}
                    <div class="alert alert-danger">
                    {{field.errors}}
                    </div>
                {% endif %}
            {% endfor %}
            {% for field in  form.visible_fields %}
                <h5 class='pt-2'>{{field.label}}</h5>
                <!-- {{field.help_text}} -->
                {{field}}
            {% endfor %}   
            <hr>
            <input type="submit" class="btn btn-outline-success" value="Create Account">
        </form>
        <hr>
        <p>Already have an account? <a href="{% url 'login'%}">Login Here</a></p>
    </div>
    
{% endblock block_body %}




